@charset "UTF-8";

body{
    margin: 0;
}

header{
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
}
h1{
    color: #FC3;
    font-weight: normal;
    margin: 0;
    text-transform: uppercase;
}

h2{
    margin: 0;
}

h3{
    margin: 10px 0 0 0;
    margin-top: 10px;
}

nav{
    background: #555;
}

nav a{
    color: #FC3;
    text-decoration: none;
    padding: 20px;
    display: inline-flex;
    align-items: center;
    background: #444;
}

nav a:hover{
    background: #555;
}

nav a span{
    margin-right: 8px;
}

main{
    display: flex;
}

article{
    flex: 2;
    background: #EEE;  
}

article, aside{
padding: 10px;
}

.ninja{
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial, sans-serif';
}

span{
    /* border: 1px solid #FC3; */
    border-radius: 3px;
    padding: 3px;
}

aside{
    flex: 1;
}


footer{
    display: flex;
    background: #333;
    /* margin: 14px; */
}

section{
    flex: 1;
    color: #EEE;
}

section h4 {
    color: #FC3;
    margin-bottom: 0;
}

section p {
    color: white;
    margin-top: 0;
}


aside div{
    background-size: cover;
    padding: 80px 8px 8px 8px;
    color: white;
    
}

#venedig{
    background: url('Images/venedig.jpg');
    margin-bottom: 10px;
}

div section{
    background: rgba(0, 0, 0, .5);
    padding: 8px;
    
}

#sangimignano{
    background: url('Images/sangimignano.jpg');
}

div section p{
    margin: 0;
}


h5{
    margin: 0; 
}

. active{
    color: white;
}
