@charset "UTF-8";

section{
    background: hotpink;
    padding: 10px;
    margin: 10px;
}

body{
    display: grid;
    grid-template-columns: 3fr 2fr ;
    grid-template-areas: 
    
    "A B "
    "A E "
    "D C"
    ;
}



#a{
    grid-area: A;
}
#b{
    grid-area: B;
}
#c{
    grid-area: C;
}
#d{
    grid-area: D;
}
#e{
    grid-area: E;
}
/* #f{
    grid-area: F;
} */

