@charset "UTF-8";

body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 10%;
    padding-right: 10%;
}

h2{
    font-family: "BBH Bartle", sans-serif;
}

img{
    width: 100%;
}