@charset "UTF-8";

header,nav,main,footer{
    border: 4px solid darkblue;
    margin: 10px;
}

body{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
        "nisse nisse"
        "stina bosse"
        "abdul abdul"
    ;
}
header{
    grid-area: nisse;

}

nav{
    grid-area: stina;
}

main{
    grid-area: bosse;
}

footer{
    grid-area: abdul;
}