@charset "UTF-8";

p{
    font-weight: bold;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
}
h2{
    color: blueviolet;
    font-size: 80px;
}
body{
    background-image:url('Images/space.jpg') ;
}
img{
    background-size: 80px;
}